<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Converter</title>
  </head>
  <body>
    <div id="app">
      <div class="bite">
        GB:<input type="number" v-model="gb" /> MB:<input
          type="number"
          v-model="mb"
        />
      </div>

      <div class="meter">
        MM:<input type="number" v-model="mm" /> CM:<input
          type="number"
          v-model="cm"
        />
        M:<input type="number" v-model="m" />
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
